@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

    <div class="container">
        <div class="hero-content">
            <h1>I'm Thomas Walton</h1>
            <p>Developer, Team Oriented, Ambitious </p>

            <ul class="list-unstyled list-social">
                <li><a href="https://www.linkedin.com/in/thomaswaltondev/"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="div-img-bg">
                        <div class="about-img">
                            <img src="assets/img/me.jpg" class="img-responsive" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">I am a Kansas City based Full Stack Developer who loves being part of a team, music, anime, and animals of all kinds. </p>
                        <p class="separator">I'm Thomas Walton, leveraging my background in customer service and I.T. alongside skills in networking, end-user support, and programming. I excel in communicating with customers and thrive in collaborative team environments.</p>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
        <div class="container">

            <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-html"></i>
                            <span><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">Front End Development</a></span>
                            <p class="separator">I use HTML and CSS to design and build the visual and structural components of websites or web applications, focusing on creating the layout, style, and overall presentation that users see and interact with. </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-file-earmark-binary"></i>
                            <span><a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C Sharp</a></span>
                            <p class="separator">I utilize C# for middle tier development, building the logic and functionality that drives the behavior of web applications or software systems, ensuring smooth data processing, business logic implementation, and interaction between the front end and back end components. </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-js"></i>
                            <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></span>
                            <p class="separator"> I leverage JavaScript for client-side scripting, enabling dynamic and interactive elements within web pages, handling user interactions, manipulating content, and ensuring seamless functionality across various browsers and devices.</p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-sql"></i>
                            <span><a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16">SQL</a></span>
                            <p class="separator"> I utilize SQL for database management, querying, and manipulation, ensuring efficient storage, retrieval, and organization of data to support the functionality and integrity of applications and systems.</p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-microsoft"></i>
                            <span><a href="https://learn.microsoft.com/en-us/azure/?product=popular">Azure</a></span>
                            <p class="separator"> I am certified in Microsoft Azure Fundamentals, leveraging a comprehensive cloud platform that enables scalable infrastructure, robust data analytics, and seamless integration for efficient and dynamic application deployment and management.</p>
                        </div>
                    </div><!-- End testimonial item -->


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </div><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

        <div class="container">
            <div class="section-title text-center">
                <h2>My Portfolio</h2>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <!-- <li data-filter=".filter-web">Web</li> -->
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="assets/img/dungeonthumbnail.PNG" class="img-fluid" alt="Player Info Screen inside console">
                    <div class="portfolio-info">
                        <h4>Dungeon App</h4>
                        <p>C#</p>
                        <a href="assets/img/dungeonthumbnail.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="C# Dungeon App"><i class="bx bx-plus"></i></a>

                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 1</h4>
                    <p>Web</p>
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>

                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>App</p>
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

                  </div> -->
            </div>



        </div>

    </div>

    </div><!-- End Portfolio Section -->
    <!-- ======= Classmates Section ======= -->
    <div id="classmates" class="text-left paddsection">

        <div class="container">
            <div class="section-title text-center">
                <h2>My Classmates</h2>
            </div>
        </div>

        <div class="container">
            <div class="journal-block">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://catiewatsondev.com"><img src="assets/img/catieheadshot.png" class="img-responsive" alt="Catie Watson"></a>
                            <div class="journal-txt">
                                <h4><a href="http://catiewatsondev.com">Catie Watson</a></h4>
                                <p class="separator">Kansas City, MO</p>
                                <a href="https://www.linkedin.com/in/catie-watson-dev/"><i class="bi bi-linkedin"></i></a>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://haleykillingsworth.com"><img src="assets/img/haleyheadshot.jpg" class="img-responsive" alt="Haley Killingsworth"></a>

                            <div class="journal-txt">

                                <h4><a href="http://haleykillingsworth.com">Haley Killingsworth</a></h4>
                                <p class="separator">Overland Park, KS</p>
                                <a href="https://www.linkedin.com/in/haley-killingsworth-4315b2199/"><i class="bi bi-linkedin"></i></a>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://AustinFarrow.com"><img src="assets/img/austinheadshot.jpg" class="img-responsive" alt="Austin Farrow"></a>

                            <div class="journal-txt">

                                <h4><a href="http://AustinFarrow.com">Austin Farrow</a></h4>
                                <p class="separator">Belton, MO</p>
                                <a href="https://www.linkedin.com/in/austin-farrow/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://ambrosidev.net"><img src="assets/img/tarynheadshot.jpg" class="img-responsive" alt="Taryn Ambrosi"></a>

                            <div class="journal-txt">

                                <h4><a href="http://ambrosidev.net">Taryn Ambrosi</a></h4>
                                <p class="separator">Independence, MO</p>
                                <a href="https://www.linkedin.com/in/taryn-ambrosi/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://ethanjamesaa.com"><img src="assets/img/ethanheadshot.jpg" class="img-responsive" alt="Ethan Anderson-Alexander"></a>

                            <div class="journal-txt">

                                <h4><a href="http://ethanjamesaa.com">Ethan Anderson-Alexander</a></h4>
                                <p class="separator">Shawnee, KS</p>
                                <a href="https://www.linkedin.com/in/ethan-alexander-dev/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div><!-- End Journal Section -->
    <!-- ======= Contact Section ======= -->


    <div id="contact" class="paddsection">
        <div class="container">
            <div class="contact-block1">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="contact-contact">

                            <h2 class="mb-30">GET IN TOUCH - <em>UNDER CONSTRUCTION</em></h2>

                            <ul class="contact-details">
                                <li><span>Overland Park, Kansas</span></li>
                                <li><span>913-313-4056</span></li>
                                <li><span>tww1998@yahoo.com</span></li>
                            </ul>

                        </div>
                    </div>




                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row gy-3">

                                <div class="col-lg-6">
                                    <div class="form-group contact-block1">
                                        <input readonly type="text" name="name" class="form-control" id="name" placeholder="Your Name" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input readonly type="email" class="form-control" name="email" id="email" placeholder="Your Email" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input readonly type="text" class="form-control" name="subject" id="subject" placeholder="Subject" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea readonly class="form-control" name="message" placeholder="Message" disabled></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>

                                <div class="mt-0">
                                    <input type="submit" class="btn btn-defeault btn-send" value="Send message" disabled>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Section -->

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99353.47688200134!2d-94.76676005699935!3d38.905776629097645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c09551a72638d3%3A0x24ce4feb3844f9c8!2sOverland%20Park%2C%20KS!5e0!3m2!1sen!2sus!4v1709533335082!5m2!1sen!2sus" width="200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Twitch Section -->
    <!-- <div class="container">
      <div id="social" class="twitch">
        <h2>My Socials</h2>
        <div class="twitch-video">
          <iframe
            src="https://player.twitch.tv/?channel=boywonder_rl&parent=thomaswaltondev.com&autoplay=false"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"
            height="100%"
            width="100%">
          </iframe>
        </div>
      </div>
    </div> -->

</main><!-- End #main -->
