@{
    ViewData["Title"] = "Resume";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="div-img-bg">
                        <div class="about-img">
                            <img src="/assets/img/photome.jpg" class="img-responsive" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">Education</p>
                        <ul>
                            <li>
                                Centriq:
                                <em> Cloud and Security Specialist Program</em>:
                                <b>Graduated: 02/02/2023</b>
                            </li>
                            <li>
                                Centriq:
                                <em> Full Stack Coding Program</em>:
                                <b>Anticipated Graduation: 05/10/2024</b>
                            </li>
                        </ul>

                        <p class="p-heading">Certificates</p>
                        <ul>
                            <li>
                                <em>Microsoft Azure Fundamentals</em>
                                <b>Obtained 11/30/2022</b>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
        <div class="container">

            <div class="services-slider swiper" data-aos="fade-down" data-aos-delay="1000">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>Sales Associate</span>
                            <h3>Vapor Maven</h3>
                            <h4>Oct 2023 - Feb 2024</h4>
                            <ul>
                                <li>Open and close cash registers, performing tasks such as counting money, balancing cash drawers, and making deposits.</li>
                                <li>Recommend, select, and help locate or obtain merchandise based on customer needs.</li>
                                <li>Ensured store compliance with applicable laws, guidelines, and safety regulations.</li>
                            </ul>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>IT Hardware Techician</span>
                            <h3>BStock LLC</h3>
                            <h4>Nov 2021 - May 2023</h4>
                            <ul>
                                <li>Familiar with major brands including Apple, Dell, Samsung, LG, Vizio, and Microsoft.</li>
                                <li>Provided assistance and remedy customer queries over the phone.</li>
                                <li>Record test or inspection reports describing results or needed repairs.</li>
                                <li>Set up and operate specialized or standard test equipment to diagnose, test, or analyze the performance of electronic components, assemblies, or systems.</li>
                            </ul>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>Groundskeeper</span>
                            <h3>Indian Hills Country Club</h3>
                            <h4>May 2020 - Oct 2020</h4>
                            <ul>
                                <li>Cared for grounds by mulching, aerating, trimming, and edging around walks, walls, and flower beds. </li>
                                <li>Assisted in upkeep of extremely detailed landscape designs</li>
                                <li>Cleared public and private areas of debris before and after events to maintain safety of grounds for members. </li>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>Repair Techician</span>
                            <h3>IResQ</h3>
                            <h4>Oct 2019 - Jan 2020</h4>
                            <ul>
                                <li>Conducted diagnostic procedures on Apple iPads to determine root cause of customer problems and provide accurate and timely repairs. </li>
                                <li>Completed partial or full dismantling of equipment to quickly repair or replace defective components and restore functionality. </li>
                                <li>Worked frequently with AppleOS to complete knowledgeable inspections and skilled repairs. </li>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>Supervisor</span>
                            <h3>All American Indoor Sports</h3>
                            <h4>Jul 2018 - Jan 2019</h4>
                            <ul>
                                <li>Singularly managed location daily; operated concession stands, balanced operating expenses for participating teams</li>
                                <li>Maintained equipment, facilities, and inventory to increase customer safety and satisfaction across two locations.</li>
                                <li>Ability to recognize and resolve conflicts quickly and effectively.</li>
                                <li>Excellent communication skills, both verbal and written.</li>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <span>Senior Sales Associate</span>
                            <h3>Aqueous Vapor</h3>
                            <h4>Feb 2017 - Oct 2022</h4>
                            <ul>
                                <li>Provided exceptional customer service to foster client relationships leading to increased sales and higher customer satisfaction return ratios. </li>
                                <li>Consistently performed in the top 5% of sales companywide.</li>
                                <li>Responsible for the monitoring of inventory shipments, transfers, and sales through a company database. </li>
                                <li>Ensured store compliance with applicable laws, guidelines, and safety regulations.</li>
                                <li>Trained, mentored, and supervised sales staff to achieve desired sales performance.</li>

                        </div>
                    </div><!-- End testimonial item -->





                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

        <div class="container">
            <ul class="list-unstyled list-social">
                <li><a href="/assets/img/resume.pdf" download="ThomasWaltonResume"><i class="bi bi-box-arrow-down">Download My Resume</i></a></li>
            </ul>
        </div>

    </div><!-- End Services Section -->
    

</main><!-- End #main -->

@section scripts {
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script>
        function removeClass() {
            var class = document.getElementById('header');

            class.classList.add("header-scrolled")
        }
    </script>
}